.page1
    background transparent url(../images/background_01.jpg) no-repeat top center
    background-size 100%
.page2
    background transparent url(../images/background_02.jpg) no-repeat top center
    background-size 100%
.page3
    background transparent url(../images/background_03.jpg) no-repeat top center
    background-size 100%
img
    padding-left 6%
    width 78%
    height 11%
    margin -2px
.topSoundBtn
    padding-top 8%